In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import missingno as msno

In [2]:
df_all = pd.read_csv('L1_Train_Revise.csv')

for i in range(2, 18):
    filename = 'L' + str(i) + '_Train_Revise.csv'
    df = pd.read_csv(filename)
    print(f"{filename} : {df.shape}")
    df_all = pd.concat([df_all, df], ignore_index=True)

L2_Train_Revise.csv : (8934, 7)
L3_Train_Revise.csv : (5538, 7)
L4_Train_Revise.csv : (6894, 7)
L5_Train_Revise.csv : (5516, 7)
L6_Train_Revise.csv : (5256, 7)
L7_Train_Revise.csv : (5476, 7)
L8_Train_Revise.csv : (13967, 7)
L9_Train_Revise.csv : (10132, 7)
L10_Train_Revise.csv : (10170, 7)
L11_Train_Revise.csv : (5697, 7)
L12_Train_Revise.csv : (9679, 7)
L13_Train_Revise.csv : (6951, 7)
L14_Train_Revise.csv : (6616, 7)
L15_Train_Revise.csv : (8524, 7)
L16_Train_Revise.csv : (8326, 7)
L17_Train_Revise.csv : (9665, 7)

In [3]:
df_all

,Serial,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
0,20240101063101,0.0,1016.54,17.50,86.79,55.17,0.00
1,20240101064101,0.0,1016.60,17.49,86.80,178.33,0.02
2,20240101065101,0.0,1016.66,17.50,86.95,343.25,0.05
3,20240101070101,0.0,1016.73,17.50,87.00,486.33,0.09
4,20240101071101,0.0,1016.78,17.58,86.94,683.92,0.15
...,...,...,...,...,...,...,...
137504,20240712144917,0.0,1004.01,36.53,64.84,11602.00,30.25
137505,20240712145917,0.0,1003.97,36.40,62.99,10885.08,26.46
137506,20240712150917,0.0,1004.07,36.08,65.69,13286.75,41.97
137507,20240712151917,0.0,1004.07,36.38,65.29,12502.58,36.51
137508,20240712152917,0.0,1004.09,36.40,64.90,12520.00,36.69

In [4]:
df.describe()

,Serial,WindSpeed(m/s),Pressure(hpa),Temperature(°C),Humidity(%),Sunlight(Lux),Power(mW)
count,9.665000e+03,9665.0,9665.000000,9665.000000,9665.000000,9665.000000,9665.000000
mean,2.024037e+13,0.0,1015.856061,29.082551,69.144233,20857.191221,232.195398
std,1.986489e+08,0.0,6.382997,10.829191,21.979939,26023.544182,407.514236
min,2.024010e+13,0.0,999.790000,10.400000,26.960000,27.120000,0.000000
25%,2.024021e+13,0.0,1010.590000,20.390000,49.450000,2789.330000,2.080000
50%,2.024032e+13,0.0,1015.960000,26.520000,69.780000,8749.080000,19.100000
75%,2.024053e+13,0.0,1020.860000,36.030000,89.600000,28941.000000,229.690000
max,2.024071e+13,0.0,1030.690000,57.120000,99.900000,118772.330000,2084.570000

In [5]:
df_all.to_csv('LALL_Train_Revise.csv', index=False)